.container-logo-encabezado-Servicios {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.text-encima-servicios {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
}

.t-1-servicios {
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.t-2-servicios {
    font-size: 2.7vw;
    white-space: nowrap;
}

.t-3-servicios {
    font-size: 2.7vw;
    white-space: nowrap;
}

.c-nuestrasAmbulancias {
    display: flex;
    flex-direction: column;
    padding: 2% 15% 2% 15%;
}

.h1-nuestrasAmbulancias {
    color: #ea0e2c;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.p-nuestrasAmbulancias {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}

.c-equipadasCon {
    display: flex;
    flex-direction: column;
    padding: 0% 15% 2% 15%;
    justify-content: center;
}

.h2-equipadas {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.p-dentrode {
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.sc-equipadasCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.i-equipadasCon {
    padding-right: 15%;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;

}

.i-equipadasCon-2 ul li {
    padding: 0px 0 0px 20px;
    text-indent: -20px;
}

ul {
    list-style-position: inside;
}

.img-tabla-comp {
    width: 100%;
}

.i-tabla ul {
    list-style-position: inside;
    list-style-type: none;
}

td {
    padding: 15px;
}

.img-logoTabla {
    width: 200px;
}

.i-tabla table, th, td {
    border: 1px solid;
    border-color: #ea0e2c;
}

.th-otros {
    font-size: 40px;
}

.c-listadoServicios {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    padding: 0 15% 0 15%;
}

.c-panel-1 {
    display: flex;
}

.i-panel-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2-tituloServicios {
    font-family: 'Poppins', sans-serif;
    color: #ea0e2c;
    padding-top: 5%;
}

.p-textServicios {
    text-align: justify;
    padding-right: 3%;
    padding-bottom: 2%;
}

.icono-servicioCollap {
    width: 100px;
    height: 100px;
}
.icono-servicioCollap-outsourcing {
    width: 100px;
}

.c-ventajas-servicio {
    text-align: left;
}

.c-ventajas-servicio ul li {
    padding: 0px 0 0px 20px;
    text-indent: -20px;
}

.css-o4b71y-MuiAccordionSummary-content {
    flex-direction: column;
}

.c-preguntas {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.h2-preguntasF {
    background-color: #ea0e2c;
    text-align: center;
    color: #ffffff;
    padding: 3% 0 3% 0;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}

.i-preguntas {
    display: flex;
    flex-direction: column;
    padding: 2% 15% 2% 15%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 1800px) {
    .text-encima-servicios {
      top: 45%;
      left: 80%;
    }
  }

@media only screen and (max-width: 800px) {
    .sc-equipadasCon {
        flex-direction: column;
    }

    .th-otros {
        font-size: 20px;
    }

    .img-logoTabla {
        width: 100px;
    }

    .h2-ventajasAhorros {
        padding-right: '20px';
    }

    .i-equipadasCon {
        font-size: 12px;
    }

    .i-equipadasCon-2 {
        font-size: 12px;
    }

    .h2-preguntasF {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .c-tabla {
        padding: 0% 0% 2% 0%;
    }

    .c-panel-1 {
        flex-direction: column-reverse;
    }

    .i-equipadasCon {
        font-size: 10px;
    }

    .i-equipadasCon-2 {
        font-size: 10px;
    }
}