.container-logo-nosotros{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #ea0e2c;
}
.img-nosotros{
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    background-color: #ea0e2c;
}
.text-encima-nosotros{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.t-1-nosotros{
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
  }
  .t-2-nosotros{
    font-size: 2.7vw;
    white-space: nowrap;
  }
  .t-3-nosotros{
    font-size: 2.7vw;
    white-space: nowrap;
  }

.text-nosotros{
    text-align: justify;
    padding: 5% 12% 1% 12%;
    font-family: 'Poppins', sans-serif;
    background-color: #ea0e2c;
    color: #ffffff;
}

.p-t1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
}
.p-t2{
    font-size: 3em;
    padding-bottom: 10px;
}

.p-nosotros{
    padding: 5px 0px 25px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.c-mision{
    padding-top: 50px;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.c-vision{
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}
.c-fechasNosotros{
    width: 100%;
    padding: 0% 12% 0% 12%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background-color: #ea0e2c;
    color: #ffffff;
}
.i-fechaNosotros{
    display: flex;
    flex-direction: column;
}
.p-tituloFecha{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}
.p-textFechas{
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 15px;
}

.item-mision-logo{
    display: flex;
    flex-direction: column;
}

.item-mision-logo img{
    width: 60px;
    padding-bottom: 10px;
}

.item-mision:nth-child(1){
    padding: 0 10% 0 0;
    justify-content: center;
    align-items: center;
}

.item-mision:nth-child(2){
    padding: 2%;
    justify-content: start;
}
.h2-mision{
    color: #ea0e2c;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}
.p-mision{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.6;
    color: #333333;
}
.img-paramedicos{
    width: 350px;
}

.c-valores{
    margin-top: 30px;
    padding-top: 30px;
    background-color: #ea0e2c;
}

.i-valores{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
}
.img-valores-movil{
    width: 100%;
}
.img-valores-nos{
    width: 100%;
}

.h2-valores{
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    padding-bottom: 3%;
}

.c-slider{
  padding-bottom: 30px;
}

.p-slider:nth-child(1){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-top: 5%;
}

.p-slider:nth-child(2){
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ea0e2c;
    padding-bottom: 50px;
    font-size: 36px;
}
.i-slider{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.i-slider-2{
    width: 40%;
    border-style: solid;
    border-color: #ea0e2c;
    padding: 1%;
}

@media only screen and (min-width: 1800px) {
    .text-encima-nosotros{
      top: 45%;
      left: 80%;
    }
  }

@media only screen and (max-width: 1200px) {
    .c-mision{
        padding-right: 10%;
        padding-left: 10%;
    }
    .c-vision{
        padding-right: 10%;
        padding-left: 10%;
    }
    .item-mision:nth-child(1){
        padding: 0 2% 0 0;
    }
    .h2-valores{
        font-size: 30px;
    }
    .img-nosotros{
        height: 300px;
    }
    .c-fechasNosotros{
        text-align: left;
    }
}

@media only screen and (max-width: 1024px) {
    .c-mision{
        padding-right: 5%;
        padding-left: 5%;
    }
    .c-vision{
        padding-right: 5%;
        padding-left: 5%;
    }
    .item-mision:nth-child(1){
        padding: 0 2% 0 0;
    }    
    .i-valores{
        padding-left: 5%;
        padding-right: 5%;
    }
    .c-fechasNosotros{
        width: 100%;
        padding: 0% 12% 0% 12%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        background-color: #ea0e2c;
        color: #ffffff;
    }
    .i-fechaNosotros{
        display: flex;
        flex-direction: column;
    }
    .p-tituloFecha{
        font-size: 20px;
        padding-bottom: 3px;
    }
    .p-textFechas{
        font-size: 16px;
        line-height: 1.6;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .img-nosotros{
        height: 180px;
    }
}
@media only screen and (max-width: 600px) {
    .c-mision{
        padding-right: 12%;
        padding-left: 12%;
    }
    .c-vision{
        padding-right: 12%;
        padding-left: 12%;
    }
    .p-t1{
        font-size: 1.5em;
    }
    .p-t2{
        font-size: 1.8em;
        text-align: left;
    }
    .p-nosotros{
        font-size: 16px;
        text-align: left;
    }

.p-mision{
    text-align: left;
}
    .c-mision{
        flex-direction: column;
    }
    .c-vision{
        flex-direction: column-reverse;
    }
    .item-mision-logo{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .i-slider-2{
        width: 70%;
    }
    .img-nosotros{
        height: 160px;
    }
    .p-slider:nth-child(1){
        font-size: 12px;
    }
    
    .p-slider:nth-child(2){
        font-size: 20px;
        padding-bottom: 3%;
    }
    .c-fechasNosotros{
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        background-color: #ea0e2c;
        color: #ffffff;
    }
    .p-tituloFecha{
        font-size: 14px;
        padding-bottom: 3px;
    }
    .p-textFechas{
        font-size: 16px;
        line-height: 1.6;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .img-paramedicos{
        width: 250px;
    }
}