.container-logo-encabezado-Inicio {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ea0e2c;
}

.text-encima-inicio{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.t-1-inicio{
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}
.t-2-inicio{
  font-size: 2.7vw;
  white-space: nowrap;
}
.t-3-inicio{
  font-size: 2.7vw;
  white-space: nowrap;
}

.c-apoyoMedico {
  background-color: #ea0e2c;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 500px;
}
.i-apoyoMedico{
  position: absolute;
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 0 15%;
}
.cbtn-conocenos{
  padding-top: 5%;
}
.btn-conocenos{
  background-color: #ffc303;
  border-radius: 10px;
  padding: 2%;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333333;
  z-index: 100;
  position: relative;
}

.p-apoyoMedico {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-top: 10%;
}

.p-apoyoMedico-2 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.p-apoyoMedico-3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
}

.imgMedico {
  width: 100%;
  height: 480px;
  position: absolute;
  bottom: 0;
}

.c-slider-inicio {
  padding-bottom: 30px;
}

.p-slider-inicio:nth-child(1) {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.p-slider-inicio:nth-child(2) {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #ea0e2c;
  padding-bottom: 15px;
}

.i-slider-inicio {
  display: flex;
  justify-content: center;
}

.i-slider-2-inicio {
  padding-bottom: 40px;
  max-width: 70%;
}

.c-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ea0e2c;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 32px;
  padding-top: 50px;
}

.t-video {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.c-servicios-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10%;
  padding-left: 10%;
}

.i-serviciosInicio:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-left: 10px;
}

.i-serviciosInicio:nth-child(2) {
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.dividir {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dividir-2 {
  display: flex;
  flex-direction: column;
}

.dividir-3 {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 30px;
  align-content: center;
  align-items: center;
}

.img-servicios-lista {
  width: 60px;
  height: 60px;
}

.t-serv1 {
  display: flex;
  flex-direction: column;
}

.c-servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-servicios {
  background-color: #ea0e2c;
  color: #ffffff;
  padding: 15px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.img-ambulancia-serv {
  width: 500px;
  height: 400px;
}

.p-servicios:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  text-align: center;
}

.p-servicios:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.text-servicios-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p-text-servicio {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  padding-left: 5px;
}

@media only screen and (min-width: 1800px) {
  .text-encima-inicio{
    top: 45%;
    left: 80%;
  }
}
@media only screen and (max-width: 1300px) {
  .imgMedico {
    width: 100%;
    height: 370px;
  }
}
@media only screen and (max-width: 1100px) {

  .c-servicios-inicio {
    flex-direction: column;
  }

  .dividir {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .c-apoyoMedico{
    height: 380px;
  }
  .p-apoyoMedico {
    font-size: 26px;
    margin-top: 0;
  }
  
  .p-apoyoMedico-2 {
    font-size: 30px;
  }
  
  .p-apoyoMedico-3 {
    font-size: 14px;
  }
  .i-apoyoMedico{
    position: absolute;
      top: 40%;
      left: 40%;
  }
  .imgMedico {
    width: 100%;
    /* height: 320px; */
  }

}

@media only screen and (max-width: 850px) {
  .img-servicios-lista {
    width: 25px;
    height: 25px;
  }

  .p-text-servicio {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    padding-left: 5px;
    font-size: 12px;
  }

  .p-servicios:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .p-servicios:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .img-ambulancia-serv {
    height: 290px;
    width: 400px;
  }
  .btn-servicios {
    padding: 10px;
    font-size: 12px;
  }

  .p-apoyoMedico {
    font-size: 18px;
  }
  
  .p-apoyoMedico-2 {
    font-size: 22px;
  }
  
  .p-apoyoMedico-3 {
    font-size: 12px;
  }
  .i-apoyoMedico{
    position: absolute;
      top: 35%;
      left: 30%;
  }
  .imgMedico {
    width: 100%;
    /* height: 280px; */
  }
}

@media only screen and (max-width: 600px) {
  .c-apoyoMedico {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    position: static;
    padding: 0;
    height: auto;
  }
  .i-apoyoMedico{
    position: static;
    top: 0%;
      left: 0%;
      transform: none;
      padding: 0;
  }
  .imgMedico {
    width: 100%;
    height: 200px;
    position: static;
  }
  .i-slider-2-inicio {
    width: 100%;
  }

  .c-servicios-inicio {
    flex-direction: column;
  }

  .dividir {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .img-ambulancia-serv {
    width: 300px;
    height: 220px;
  }

  .p-slider-inicio:nth-child(1) {
    font-size: 14px;
    padding-top: 10px;
  }

  .c-video {
    font-size: 14px;
  }
  .p-apoyoMedico {
    font-size: 24px;
    margin-top: 0;
    padding: 5% 10% 0 10%;
  }
  
  .p-apoyoMedico-2 {
    font-size: 28px;
    padding: 0 10% 0 10%;
  }
  
  .p-apoyoMedico-3 {
    font-size: 12px;
    padding: 2% 10% 0 10%;
    text-align: left;
  }

}

/* @media only screen and (max-width: 420px) {
  .i-apoyoMedico{
    position: static;
    top: 0%;
      left: 0%;
      transform: none;
      padding: 0;
  }
  .imgMedico {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 30%;
  }
} */