.c-slider-inicio{
    padding-bottom: 30px;
  }
  
  .p-slider-inicio:nth-child(1){
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }
  
  .p-slider-inicio:nth-child(2){
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: #ea0e2c;
      padding-bottom: 15px;
  }
  .i-slider-inicio{
      display: flex;
      justify-content: center;
  }
  .i-slider-2-inicio{
      max-width: 50%;
  }

  .c-video{
    background-color: #ea0e2c;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
  }

  .t-video{
    display: flex;
    justify-content: center;
    width: 420px;
    height: 360px;
  }
  .c-servicios-inicio{
      
  }

  
@media only screen and (max-width: 600px) {
    .i-slider-2-inicio{
        width: 100%;
    }
    .t-video{
        width: 380px;
        height: 360px;
    }
}