.navbar{
    background-color: #ea0e2c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 2% 0 2% 0;
}

.navbar-list{
    list-style-type: none;
}

.list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.img-logo-nav{
    width: 100%;
    margin-left: 10%;
}

.active{
    color: #333333;

}
.noActive{
    color: #ffffff;
}
.icon-menu{
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: white;
}
@media only screen and (max-width: 720px) {
    .navbar{
        /* justify-content: space-between; */
        font-size: 15px;
    }
    .navbar-movil{
        font-size: 10px;
        /* justify-content: space-between; */
        z-index: 40;
    }
    .navbar-movil a:hover{
        color: #333333;
    }
    .navbar-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    .img-logo-nav{
        width: 180px;
    }
    .list-item{
       font-size: 12px;
    }
}
@media only screen and (max-width: 820px) {
    .list-item{
       font-size: 16px;
    }
    .img-logo-nav{
        width: 70%;
    }
}


@media only screen and (max-width: 520px) {
    .img-logo-nav{
        height: 60px;
        width: 150px;
    }
    .navbar-movil{
        background-color: #ea0e2c;
        font-size: 10px;
        justify-content: space-between;
    }
    .navbar-movil a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    .navbar-movil a:hover{
        color: #333333;
    }
    .navbar-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    .list-item{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 330px) {
    .img-logo-nav{
        width: 120px;
    }
    .icon-menu{
        height: 40px;
        width: 40px;
    }
}