footer{
    background-color: #ea0e2c;
}

.btn-contacto{
    background-color: #ffc303;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
}

.img-lineaVida{
    width: 100%;
  position: absolute;
  top: 40%;
}
.atribucion{
    text-align: center;
    color: #ea0e2c;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.textos{
    padding-top: 5%;
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: 3%;
}
.p-text{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding-left: 5%;
    padding-bottom: 2%;
}

.p-text-1{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding-left: 5%;
}
.c-a-contactanos{
  padding-left: 5%;
  padding-bottom: 7%;
}

.a-contactanos{
  background-color: #ffc303;
  border-radius: 10px;
  padding: 1%;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333333;
}

.container-logo {
    background-color: #ea0e2c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding-left: 5%;
    padding-bottom: 3%;
  }
  
  .item-logo:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  
  .item-logo:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 100px;
  }

  .icon-redes{
      padding-right: 5px;
  }
  
 .img-logo-footer{
   margin: 0px 5% 0px 5%;
   width: 100%;
 }

 .img-logo-r{
    height: 50px;
    width: 50px;
    padding: 0px 5px 0px 5px;
 }



 @media only screen and (max-width: 720px) {
  .textos{
    padding-top: 5%;
    width: 100%;
    padding-bottom: 5%;
}
.img-lineaVida{
  width: 100%;
  position: relative;
}

  .atribucion{
    font-size: 10px;
  }
  
  .img-logo-footer{
    width: 50%;
  }

  .img-logo-r{
    height: 37px;
    width: 37px;
 }
 .item-logo:nth-child(2) {
  padding-right: 0px;
}
.p-text{
  font-size: 16px;
}

.p-text-1{
  font-size: 16px;
}

.a-contactanos{
  font-size: 16px;
}

}

@media only screen and (max-width: 520px) {
  .textos{
    text-align: center;
  }
  .atribucion{
    word-break: break-word;
    padding-bottom: 30px;
  }

  .img-logo-footer{
    width: 200px;
  }
  
  .p-text{
    font-size: 14px;
  }
  
  .p-text-1{
    font-size: 14px;
  }
  .a-contactanos{
    font-size: 14px;
  }

}

@media only screen and (max-width: 320px) {
  .atribucion{
    word-break: break-word;
    padding-bottom: 10px;
    font-size: 7px;
  }

  .img-logo-footer{
    width: 120px;
  }

  .p-text{
    font-size: 12px;
  }
  
  .p-text-1{
    font-size: 12px;
  }

  .a-contactanos{
    font-size: 12px;
  }

}
