.footer{
 /* min-height: 150px;
 max-height: 300px; */
}

footer{
    background-color: #ea0e2c;
}

.btn-contacto{
    background-color: #ffc303;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
}

.img-lineaVida{
    height: 80px;
    width: 100%;
}
.atribucion{
    text-align: center;
    color: #ea0e2c;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.textos{
    top: 30%;
    padding: 3% 0% 0% 5%;
}
.p-text{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin: 0px;
    padding: 0;
}

.container-logo {
    background-color: #ea0e2c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
  
  .item-logo:nth-child(1) {
    display: flex;
    flex-direction: column;
    
    /* display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; */
  }
  
  .item-logo:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; */
  }

  .icon-redes{
      padding-right: 5px;
  }

  .container-imgLogo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
  }

  
 .img-logo-footer{
   padding: 0px 10px 0px 10px;
   width: 70%;
 }

 .img-logo-r{
    height: 50px;
    width: 50px;
    padding: 0px 5px 0px 5px;
 }

 .a-contactanos{
   background-color: #ffc303;
   border-radius: 10px;
   padding: 15px;
   left: 30%;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
 }

 @media only screen and (max-width: 720px) {
  .p-text{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin: 0px;
    padding: 0;
  }
  .img-lineaVida{
    margin-top: 20px;
    height: 70px;
    width: 100%;
  }
  .atribucion{
    font-size: 10px;
  }
  
  .img-logo-footer{
    width: 50%;
  }

  .img-logo-r{
    height: 37px;
    width: 37px;
 }

}

@media only screen and (max-width: 520px) {
  .textos{
    text-align: center;
  }
  .atribucion{
    word-break: break-word;
    padding-bottom: 30px;
  }

  .img-logo-footer{
    width: 230px;
  }

}

@media only screen and (max-width: 320px) {
  .atribucion{
    word-break: break-word;
    padding-bottom: 10px;
    font-size: 7px;
  }

  .img-logo-footer{
    width: 200px;
  }

}
